body{
    background-color:black;
}
.fit{
    display: block;
    margin: auto;
    text-align: center;
    margin: 10px;
    color: white;
}
#answer{
    text-align: left;
    font-size: 15px;
    background-color: black;
    margin: 10px;
}
#header{
    padding: 10px;
    background-color:darkslategray;
    color: white; 
}
img{
    width: 300px
}
#serial_id{
    height: 30px;
    width: 80%;
    font-size: 20px;
    border: solid orange 5px
    
}
#results{
    background-color: orange;
    padding: 10px;
    display: block;
    text-align: center;
}
.btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}
.btn:hover{
    background-color: orange;
    color: white;
}
